*{
   margin:0;
   padding:0;
  }
  body{
     height:100vh;
     background:linear-gradient{to bottom,#2b6876,#09203f};
     display:flex;
     justify-content:center;
     align-items:center;
 }
 .loading{
        width:200px;
        height:200px;
        box-sizing:border-box;
        border-top:10px solid #63a69f;
        border-radius:50%;
        position:relative;
        animation:al 2s linear infinite;
    }
   .loading::after,.loading::before{
        width:200px;
        height:200px;
        position:absolute;
        left:0;
        top:-10px;
        box-sizing:border-box;
        border-radius:50%;
   }
     .loading::after{
      border-top:10px solid #f2e1ac;
      transform:rotate(120deg);
  }
     .loading::after{
        border-top:10px solid #f2e1ac;
        transform:rotate(240deg);
    }
    .loading span{
     position:absolute;   
     width:200px;
     height:200px;
     line-height:200px;
     text-align:center;
     color:#fff;
     animation:a2 2s linear infinite;
     }
     @keyframes a2 {
      to{
         transform:rotate(360deg);
         }
       }
     @keyframes a1 {
       to{
         transform:rotate(-360deg);
         }
       }
      